* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100%;
}

a {
  text-decoration: none;
}

#root {
  height: 100%;
}

.tox-dialog__footer {
	border-top: none!important
}
.tox .tox-dialog__header {
	padding-top: 40px !important;
}
.tox-notifications-container { 
    display: none;
}

.MuiTouchRipple-root {
  display: none!important;
}

th, td {
  text-align: center !important;
}
th span {
  margin: 0 auto;
}