@import url('https://fonts.googleapis.com/css?family=Roboto:300,500&display=swap');
body {
  font-family: 'Roboto', sans-serif;
  margin:0;
  font-weight:300;
  line-height:1.4em;
  background:#fdfdfd;
}
.container {
  margin:0 5vw;
}
h1, h2, h3 {
  font-weight:300;
  font-size:22px;
  margin:.1em 0 .45em;
}
p {
  margin:0 0 2em;
}
.clr {
  clear:both;
}

.pad-y {
  padding:40px 0;
}


#banner {
  height:80vh;
  background:#222;
  color:#fff;
  margin-bottom:5vw;
}
#content {
  color:#222;
}

.img {
  height:100%;
  background:#333;
}
.img.left {
  margin-right:30px;
}


.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  position: relative;
}

.blue-column {
  background-color: blue;
  height: 100px;
}

.green-column {
  background-color: green;
}


#banner-wrapper {
  height:600px;
  background: #BE93C5;  /* fallback for old browsers */
  background: linear-gradient(to right, #333333, #212121);
  position: absolute;
  top:0;
  width:100%;
  img {
    margin:0 auto;
    display:block;
    margin-top:180px;
  }
  text-align:center;
  color:#fff;
  font-size:40px;
  h1 {
    font-size:36px;
    margin-top:40px;
    line-height:1.1em;
    font-weight:400;
  }
  .large-btn {
    border-radius: 4px;
    display: inline-block;
    padding: 1em 1.4em;
    margin-top: 6vh;
    color: #fff;
    font-size:18px;
    background: #41295a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2F0743, #41295a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #2F0743, #41295a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
}
