header {
  position: fixed;
  width:100%;
  background:#fff;
  border-bottom:1px solid rgba(0,0,0,.05);
  background:rgba(255,255,255,.9);
}
header .inner {
  padding:1vw 5vw;
}
.logo {
  width:200px;
}
.splitter {
  line-height: 1.5
}
nav {
  float:right;
  display:flex;
  padding-top:8px;
  a {
    color:#666;
    display:block;
    padding:8px 3px;
    margin:0 1vw;
    text-decoration: none;
    letter-spacing: 0px;
    font-size:14px;
    transition: padding 250ms cubic-bezier(.05,.7,.58,.99), color 500ms linear;
    svg {
      width:.7em!important  ;
      height:.7em!important ;
      margin:3px 6px 0 0;
      transition: color 500ms linear;
      float:left;
      color:#aaa;
    }
  }
  a.active {
    color:#111;
    padding:8px 9px; 
    svg {
      color:rgb(6, 140, 230);
    }
  }
  a:hover {
    color:#777;
  }
}

nav a.special {
  background:#0c9;
  color:#fff;
  border-radius:4px;
  margin-right:1em;
  padding:8px 16px;
  background: #5f3ac0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5f3ac0, #3634a3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5f3ac0, #3634a3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  &.active {
    border-bottom:0px solid #ccc;   
    padding:8px 20px;
  }
}

nav .small-links {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-left:1px solid #ddd;
  padding:0 0 0 20px;
  margin-left:10px;
  a {
    padding:0;
    font-size:12px;
    text-transform: capitalize;
    text-align:right;
    line-height:1.4em;
  }
}