header {
  position: fixed;
  width:100%;
  background:#fff;
  border-bottom:1px solid rgba(0,0,0,.05);
  background:rgba(255,255,255,.9);
}
header .inner {
  padding:1vw 5vw;
}
.header-spacer {
  height:91px;
}
.logo {
  width:200px;
}

header {

}
nav {
  float:right;
  padding-top:8px;
}
nav ul {
  margin:0;
}
nav li {
  float:left;
  list-style:none;

}
