/* Header
--------------*/
header {
  //position: fixed;
  width:100%;
  background:#111;
  background: -webkit-linear-gradient(to bottom, #131313, #101010);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #131313, #101010); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
header .inner {
  padding:.5vw 1vw;
  @media(min-width:800px){
    display:flex;
    justify-content:space-between;
  }
}
/* Logo
--------------*/
.logo {
  margin-top:3px;
  display:block;
  img {
    width:151px;
  }
  @media(max-width:800px){
    width:100%;
    text-align:center;
  }
}

/* Main Nav
--------------*/
nav {
  display:flex;
  justify-content:space-between;
  display:flex;
  align-self: center;
  a {
    color:#888;
    padding:0 .5vw;
    margin:0 1vw;
    text-decoration: none;
    letter-spacing: 0px;
    font-size:13px;
    svg {
      width:.7em!important  ;
      height:.7em!important ;
      margin:3px 4px 0 0;
      float:left;
      color:#aaa;
    }
  }
  a:hover {
    color:#888;
    svg {
      color:#888;
    }
  }
  a.active {
    color:#eee;
    svg {
      color:#9d5dde;
    }
  }
}
nav .main-links {
  display:flex;
  a {
    padding:10px .4vw;
  }
}
nav .small-links {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding:0 0 0 .5vw;
  margin-left:10px;
  a {
    padding:0;
    font-size:9px;
    text-transform: uppercase;
    text-align:right;
    line-height:1.4em;
    letter-spacing: 1px;
    color:#9282b5;
  }
}

nav a.special {
  background:#0c9;
  color:#fff;
  border-radius:4px;
  margin-right:1em;
  padding:8px 16px;
  background: #5f3ac0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5f3ac0, #3634a3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5f3ac0, #3634a3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  &.active {
    border-bottom:0px solid #ccc;   
    opacity:.9;
    box-shadow: 0px 1px 3px rgba(0,0,0,.5) inset;
  }
}